footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: fantasy
}

.GeeksForGeeks {
  background-image:
    url("https://github.com/miyeaier/my_newportfolio/blob/main/IMG/hey%20there%20i%20aM.jpg?raw=true");
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin-top: -70px;
  background-repeat: no-repeat;
}